<% include head %>

<div class="show_Album">
  <div class="card ">
    <img class="card-img-top" src="<%= album.image %>" alt="Card image cap">
      <div class="card-block">
        <a class="card-title" href="/albums/<%=album.id %>"> <%= album.name %></a>
            <p class="card-text"> 
              Artist: <%= album.artist %> <br/> 
              Genre: <%= album.genre %> <br/> 
              Release Date: <%= album.release_date %> </p>
            <a href="/albums/<%=album.id%>" class="btn btn-primary">Edit</a>
              <form method="POST" action="/albums/<%= album._id %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
              </form>
  </div>
</div>